{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">Profile</div>
        <div class="card-body">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ id }}</td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>{{ date|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>
                            {{ first_name }} {{ last_name }}
                        <td><a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span>Change Name</a></td>
                        </td>
                    </tr>
                    {% if email %}
                        <tr>
                            <th>Email</th>
                            <td>{{ email }}</td>
                            <td><a href="{{ path('profile.email') }}" class="btn btn-sm btn-outline-primary">Change Email</a></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Role</th>
                        <td>{{ user_role(role) }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ user_status(status) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if networks %}
        <div class="card">
            <div class="card-header">Networks</div>
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <tbody>
                        {% for network in networks %}
                            <tr>
                                <th>{{ network }}</th>
                                <td>{{ identity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
